# PRODUCCIÓN - Railway (Railway llena DATABASE_URL automáticamente)
DATABASE_URL="postgresql://postgres:PASSWORD@HOST:5432/railway"
JWT_SECRET="moh-mission-of-hope-secret-2024-cambia-esto"
PORT=3001
FRONTEND_URL="https://tu-app.vercel.app"
